* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

a:hover {
  background: #acb7c3;
  transition: 0.4s;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #6070ff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

@media (max-width: 400px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #6070ff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-items {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

.homepage {
  display: flex;
  justify-content: flex-start;
  margin: 5% 10%;
}

.intro {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 50vh;
  justify-content: flex-start;
}

section h1 {
  display: flex;
  font-family: sans-serif;
  color: #091e42;
  font-size: 48px;
  flex: none;
  width: 80%;
}

section p {
  display: flex;
  position: static;
  font-family: sans-serif;
  color: #344563;
  font-size: 20px;
  line-height: 28px;
  flex: none;
  width: 80%;
  min-width: 500px;
}

.socials {
  display: flex;
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

ul .s-icons {
  display: flex;
  flex-direction: row;
  width: 130px;
  justify-content: space-between;
}

.icon {
  display: flex;
  width: 20px;
  margin-right: 10px;
  float: left;
}

/* Portfolio page CSS will be added here */

.page1 {
  display: flex;
  width: 40%;
}

.tonic-img {
  width: 295px;
  height: 220px;
  display: flex;
  margin: auto;
  top: 16px;
  padding-bottom: 50px;
  left: 16px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
  font-size: 13px;
}

.my-skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.skill-1 {
  width: 55px;
  height: 16px;
  top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  align-self: flex-start;
}

.skill-2 {
  list-style-type: disc;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.skill-3 {
  list-style-type: disc;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  color: #7a869a;
}

.role p {
  display: flex;
  position: static;
  font-family: sans-serif;
  color: #344563;
  font-size: 20px;
  line-height: 28px;
  align-self: flex-start;
  flex: none;
  width: 80%;
  min-width: 500px;
  padding-bottom: 50px;
}

.lang-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.code {
  width: 53px;
  height: 24px;
  font-size: 12px;
  border-radius: 8px solid black;
  color: #6070ff;
  background-color: #ebebff;
  align-items: center;
  letter-spacing: 0.03;
  padding-bottom: 4px, 12px, 4px, 12px;
  border: 1px solid #dfe1e6;
  background-color: #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.title {
  padding-bottom: 30px;
}

.pro-btn {
  width: 100px;
}

.block {
  display: block;
  width: 100px;
  height: 24px;
  left: 12px;
  top: 12px;
  border: 1px solid #395df2;
  background-color: #396df2;
  box-sizing: border-box;
  border-radius: 16px;
}

/* about me page css below*/
.about-page {
  display: flex;
  justify-content: flex-start;
  margin: 5% 10%;
}

.about-intro {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 50vh;
  justify-content: flex-start;
}

section h1 {
  display: flex;
  font-family: sans-serif;
  color: #091e42;
  font-size: 48px;
  flex: none;
  width: 80%;
}

section p {
  display: flex;
  position: static;
  font-family: sans-serif;
  color: #344563;
  font-size: 20px;
  line-height: 28px;
  flex: none;
  width: 80%;
  min-width: 500px;
}

.about-socials {
  display: flex;
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

ul .about-s-icons {
  display: flex;
  flex-direction: row;
  width: 130px;
  justify-content: space-between;
}

.about-icon {
  display: flex;
  width: 20px;
  margin-right: 10px;
  float: left;
}
